@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  /* colors */
  --color-primary-50: #fef2f3;
  --color-primary-100: #fde3e4;
  --color-primary-200: #fcccce;
  --color-primary-300: #f9a8ac;
  --color-primary-400: #f3767c;
  --color-primary-500: #e94a51;
  --color-primary-600: #d62c34;
  --color-primary-700: #b42128;
  --color-primary-800: #951f25;
  --color-primary-900: #731e22;
  --color-primary-950: #430c0f;

  /* radial-gradient */
  --radial-gradient-primary: radial-gradient(
    circle at 50% 50%,
    var(--color-primary-900) 0%,
    var(--color-black) 100%
  );
}

@utility bg-radial-gradient-primary {
  background: var(--radial-gradient-primary);
}

@utility container {
  width: min(99vw, 1300px);
  margin-inline: auto;
  padding: 0 1rem;
}
@utility btn-primary {
  background-color: var(--color-primary-500);
  color: var(--color-white);
  border: 1px solid var(--color-primary-600);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--color-primary-900);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@utility btn-secondary {
  background-color: var(--color-white);
  color: var(--color-gray-700);
  border: 1px solid var(--color-gray-500);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--color-gray-100);
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

.scroller {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.scroller-inner {
  display: flex;
  animation: horizontalScroll 20s linear infinite;
  /* Double the content if needed */
  width: fit-content;
}

@keyframes horizontalScroll {
  to {
    transform: translateX(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .scroller-inner {
    animation: none;
  }
}
